# Data Science Tools and Ecosystem

**Objectives**

- Define what a Jupyter notebook is.
- Explain the use of JupyterLab.
- Describe how to use notebooks in JupyterLab.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
| --------------- |
| RStudio  |
| GitHub      |
| Jupyter Notebook          |

### Below are a few examples of evaluating arithmetic expressions in Python.

# Addition operation
5+5

# Multiplication operation
6*4

In [3]:
# Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Autor

Daniel Puente